{{ inventory_hostname }}

WHY ANSIBLE?

Working in IT, you're likely doing the same tasks over and over. 
What if you could solve problems once and then automate 
your solutions going forward? 

Ansible is here to help.
